* {
    margin: 0;
    padding: 0;
}

a {
    color: #171a20;
    text-decoration: none;
    transition: 0.4s;
}

.logo {
    font-size: 22px;
    color: #171a20;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    margin-left: 90px;
    margin-top: 39px;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    align-items: center;
    height: 8vh;
    font-family: 'roboto', sans-serif;
}

.nav-list {
    list-style: none;
    display: flex;
    Align-items: center;
    justify-content: end;
    flex-grow: 1;
    margin-top: 38px;
    margin-right: 70px;
}

.nav-list li {
    letter-spacing: 0px;
    margin: 0 20px;
    color: #000000;
}

.nav-list li a:hover {
    color: #a7a7a7
}