@font-face {
  font-family: "neuemachina";
  src: url("Fonts/PPNeueMachina-InktrapRegular.otf");
}

@font-face {
  font-family: "neuemachinalight";
  src: url("Fonts/PPNeueMachina-InktrapLight.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

hr {
  height: 2px; /* Altura da linha */
  border: none; /* Remove a borda padrão */
  background-color: #212121; /* Cor da linha */
  width: 70%; /* Ajuste a largura conforme necessário */
  margin: 10px auto; /* Margem acima e abaixo, e centraliza */
  border-radius: 10px;
}

/* Cabeçalho*/

body {
  background-color: #f6f6f6;
  color: #212121;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Para rolagem suave no navegador */
  overflow-x: hidden;
  transition: .3s;
}

section {
  min-height: 100vh; /* Isso garante que a seção ocupe pelo menos 100% da altura da tela, mas pode se expandir se o conteúdo exigir */
  padding: 50px 20px;
}

/* Menu Mobile */

.btn-menu-mob {
  display: none;  
  z-index: 99999999999;
}

.switchi input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.switchi {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s;
}

.row {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.row-bottom {
  align-items: flex-end;
}

.doti {
  width: 8px;
  height: 8px;
  border: 2px solid #212121;
  border-radius: 50%;
  transition: all 0.2s;
}

.row-horizontal {
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.row-vertical {
  position: absolute;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.switchi:hover .wrapper .row-horizontal {
  width: 100px;
}

.switchi:hover .wrapper .row-vertical {
  height: 100px;
}

.switchi:hover .wrapper .row-vertical .middle-doti {
  border-radius: 5px;
  height: 35px;
}

.switchi:hover .wrapper .row-horizontal .middle-doti-horizontal {
  border-radius: 5px;
  width: 35px;
}

.switchi input:checked + .wrapper {
  transform: rotate(45deg) scale(1.2);
}

.switchi input:checked + .wrapper .row-vertical {
  height: 100px;
}

.switchi input:checked + .wrapper .row-horizontal {
  width: 100px;
}

.switchi input:checked + .wrapper .row-vertical .middle-doti {
  border-radius: 5px;
  height: 25px;
}

.switchi input:checked + .wrapper .row-horizontal .middle-doti-horizontal {
  border-radius: 5px;
  width: 25px;
}

/* Menu Mobile */
header .menu-mobile {
  width: 0%;
  height: 0vh;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: left;
  text-align: start;
  transition: .5s;
  overflow: hidden;
  transform: translateX(100%);
}

header .menu-mobile nav {
  width: 100%;
  overflow: hidden;
}

header .menu-mobile nav li {
  margin-left: 8px;
}

header .menu-mobile nav ul {
  list-style-type: none;
}

header .menu-mobile nav a {
  font-size: 17px;
  text-decoration: none;
  color: #212121;
  display: block;
  padding: 30px 0;
  margin-top: 15px;
}

header .menu-mobile nav a:hover {
  background-color: #21212105;
  border-radius: 10px;

}

body.no-overflow {
  overflow: hidden;
}

header .menu-mobile.abrir{
  width: 100%;
  height: 100vh;
  transform: translateX(0);
}

body.no-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Maior que o overlay e menu */
  backdrop-filter: blur(10px); /* Sem blur no cabeçalho */
  background-color: rgba(246, 246, 246, 0.7); /* Cor do cabeçalho */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "neuemachina";
  transition: top 0.6s ease-in-out;
  transition: 0.3s;
}

.nav li a {
  z-index: 300;
}

.logo {
  font-size: 32px;
  margin-left: 7%;
  margin-top: 1%;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

.logo a {
  text-decoration: none; /* Remove o sublinhado */
  color: #212121; /* Define a cor do texto */
}

.nav {
  display: flex;
  justify-content: center; /* Centraliza o menu */
  flex-grow: 1; /* Faz o menu ocupar o espaço entre o logo e os ícones */
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  color: #212121;
  font-size: 19px;
  padding: 5px;
  text-decoration: none;
}

.nav ul li a:hover {
  color: #747474;
  transition: color 0.3s;
}

/* Estilo da página no modo dark*/


body.dark-mode .menu-mobile nav a:hover {
  background-color: #f6f6f605;
}

body.dark-mode .menu-mobile nav a {
  color: #f6f6f6;
}

body.dark-mode .menu-mobile {
  background-color: #0C0D11;
}

body.dark-mode .doti {
  border: 2px solid #f6f6f6;
}

body.dark-mode {
  background-color: #0c0d11;
  transition: .3s;
}

body.dark-mode .header {
  background-color: #0c0d11ce; /* Cor do cabeçalho */
  border-bottom: 1px solid rgba(224, 224, 224, 0.1);
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

body.dark-mode .logo a {
  color: #f6f6f6;
}

body.dark-mode .nav ul li a {
  color: #f6f6f6;
}

body.dark-mode .nav ul li a:hover {
  color: #b8b8b8;
}

body.dark-mode .txt-dark {
  color: #f6f6f6;
}

body.dark-mode .vertical-hr-nav {
  border-left: 2px solid #2b2b2b8f;
}

body.dark-mode .first-name {
  color: #f6f6f6;
}

body.dark-mode .last-name {
  color: #f6f6f6;
}

body.dark-mode .desktop-text {
  color: #f6f6f6;
}

body.dark-mode button {
  --button_color: #0c0d11;
  --button_outline_color: #f6f6f6;
}

body.dark-mode .dot {
  background-color: #292929;
}

body.dark-mode .active {
  background-color: #f6f6f6;
}

body.dark-mode .txt-sobre {
  color: #f6f6f6;
}

body.dark-mode .card {
  --font-color: #f6f6f6;
  --font-color-sub: #a0a0a0;
  --bg-color: #transparent;
  --main-color: #f6f6f6;
  --main-focus: #2df085;

}

body.dark-mode .cifra {
  color: #f6f6f6;
}

body.dark-mode .txt-itens-precos {
  color: #f6f6f6;
}

body.dark-mode .info {
  color: #f6f6f6;
}

body.dark-mode hr {
  background-color: #f6f6f6;
}

body.dark-mode .vertical-hr-nav {
  border-left: 2px solid #f6f6f6;
}

body.dark-mode .vertical-hr {
  border-left: 2px solid #f6f6f6;
}

body.dark-mode .vertical-hr2 {
  border-left: 2px solid #f6f6f6;
}

body.dark-mode .txt-itens {
  color: #f6f6f6;
}

body.dark-mode .form {
  --input-focus: #f6f6f6;
  --font-color: #f6f6f6;
  --font-color-sub: #f6f6f6;
  --bg-color: transparent;
  --main-color: #f6f6f6;
}

body.dark-mode .social-contact {
  color: #f6f6f6;
}

body.dark-mode .icon {
  background-color: transparent; /* Cor de fundo */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave para sombra e movimento */
  --main-color: #f6f6f6;
  box-shadow: 4px 4px var(--main-color); /* Sombra inicial */
  border: 2px solid #f6f6f6; /* Borda de 2px */
}

body.dark-mode .icon:hover {
  box-shadow: 6px 6px var(--main-color); /* Aumenta a sombra suavemente ao passar o mouse */
}

body.dark-mode .icon:active {
  box-shadow: 0px 0px var(--main-color); /* Remove a sombra ao clicar */
  transform: translate(
    3px,
    3px
  ); /* Move o ícone levemente para baixo e para a direita */
}

body.dark-mode .switch {
  /* Variables */
  --switch_width: 2em;
  --switch_height: 1em;
  --thumb_color: #0c0d11;
  --track_active_color: #0c0d11;
  --outline_color: #f6f6f6;
}

body.dark-mode .icon {
  filter: invert(1);
  --main-color: #212121;
  box-shadow: 4px 4px var(--main-color); /* Sombra inicial */
  border: 2px solid #212121; /* Borda de 2px */
}

body.dark-mode .mobile-text {
  color: #f6f6f6;
}

body.dark-mode .buttonscroll {
  display: none;
}

body.dark-mode .menuhr {
  background-color: #f6f6f609;
}

/* Botão Dark mode */
/* The switch - the box around the slider */

.vertical-hr-nav {
  border-left: 2px solid #212121; /* Cria uma borda esquerda que se parece com uma linha vertical */
  height: 23px; /* Altura da linha */
  margin: 0 5px; /* Espaçamento em torno da linha */
  display: flex;
}

.dark-mode-container {
  display: flex;
  flex: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.txt-dark {
  height: 100%;
  display: flex;
  font-size: 15px;
}

.switch {
  /* Variables */
  --switch_width: 2em;
  --switch_height: 1em;
  --thumb_color: #f6f6f6;
  --track_color: #f6f6f6;
  --track_active_color: #888;
  --outline_color: #212121;
  font-size: 20px;
  position: relative;
  display: flex;
  width: var(--switch_width);
  height: var(--switch_height);
  margin: 0;
  align-items: center;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.15s;
  border-radius: var(--switch_height);
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}

input:checked + .slider {
  background-color: var(--track_active_color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

/* Conteúdo */

/* Container principal */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  max-width: none;
}

.section-home {
  height: 100vh; /* Ocupa toda a altura da viewport */
  display: flex; /* Ativa o Flexbox */
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-home .interface {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 30px;
}

.desktop-text {
  max-width: 1000px;
  font-size: 30px;
  margin-top: 35px;
  font-weight: 5;
  font-family: "neuemachinalight";
}

.mobile-text {
  display: none;
}

.txt-home {
  font-family: "neuemachina";
  text-align: center;
}

.first-name {
  display: inline-flex;
  font-size: 9rem;
  text-align: center;
}

.last-name {
  display: flex;
  font-size: 9rem;
  line-height: 0.6;
  justify-content: center;
  text-indent: -40px;
}

/* Section 2*/

.section2 {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.section2 .interface {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.txt-sobre {
  text-align: start;
  font-family: "neuemachina";
  margin-left: 79px;
  flex-wrap: wrap;
}

.maintext {
  font-size: 4rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.section2 p {
  max-width: 1200px;
  font-size: 2rem;
  width: 100%;
  gap: 20px;
  font-family: "neuemachinalight";
}

.section2 .txt-sobre span {
  display: block;
}

.section2 .desktop-textsobre span {
  display: block;
}

.mobile-textsobre {
  display: none;
}

/* Section 3 */

section.section3 {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.section3 .itens-container-precos {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "neuemachina";
  flex-direction: row-reverse;
}

.section3 .txt-itens-precos {
  text-align: right;
  font-family: "neuemachina";
  margin-right: 79px;
}

.section3 .txt-itens-precos h2 {
  font-size: 4em;
}

.section3 .txt-itens-precos p {
  max-width: 400px;
  font-size: 2rem;
  font-family: "neuemachinalight";
}

.section3 .card-itens {
  display: flex;
  gap: 40px;
  margin-right: 50px;
}

.txt-itens-precos span {
  display: flex;
}

.vertical-hr2 {
  border-left: 2px solid #212121; /* Cria uma borda esquerda que se parece com uma linha vertical */
  height: 270px; /* Altura da linha */
  margin: 0 60px; /* Espaçamento em torno da linha */
  display: flex;
}

.card-header1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  flex-grow: 1; /* Faz com que a área do header cresça */
}

.card-title {
  margin-top: 60px;
}

.price-wrapper {
  display: flex;
  flex-direction: column; /* Alinha os preços em coluna */
  align-items: flex-start; /* Alinha os preços à esquerda */
  margin-left: -15px;
}

.old-price {
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color-sub);
  text-decoration: line-through;
}

.interface-precos {
  display: flex;
  flex-direction: column; /* Coloca card e info em coluna */
  align-items: center; /* Centraliza os itens */
  gap: 20px; /* Espaçamento entre o card e a info */
}

.info {
  text-align: center;
  width: 100%; /* Faz com que a info tenha a mesma largura do card */
  margin-top: 430px;
  position: absolute;
}

.info-hr {
  width: 100px;
}

.card-container {
  display: flex;
  flex-direction: column; /* Alinha card e info em coluna */
  align-items: center; /* Centraliza horizontalmente */
  gap: 20px; /* Espaçamento entre o card e a info */
  width: 300px; /* Define a largura padrão para o card e a info */
}

.card-header1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Alinha o texto ao centro */
}

.card-subtitle {
  display: flex;
  font-size: 50px;
  height: 100%;
}

/* Estilo dos cards */
.card {
  --font-color: #212121;
  --font-color-sub: #666;
  --bg-color: #f6f6f6;
  --main-color: #212121;
  --main-focus: #2df085;
  width: 300px;
  height: 370px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  flex-grow: 1; /* Faz o card crescer verticalmente */
  justify-content: space-between;
}

.card:last-child {
  justify-content: flex-end;
}

.section3 .card-title {
  font-size: 30px;
  font-weight: 500;
  color: var(--font-color);
  flex-grow: 1;
}

.section3 .card-subtitle {
  font-size: 17px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.section3 .txt-card {
  flex-grow: 1; /* Faz a área crescer e empurra o footer para baixo */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  text-align: center;
  height: 100%;
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-divider1 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  margin-bottom: 25px;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr auto; /* Preços ocupam o espaço disponível e o botão se ajusta ao conteúdo */
  align-items: center; /* Alinha os itens verticalmente no centro */
  padding: 10px 15px;
}

.section3 .card-price {
  font-size: 25px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centraliza o ícone dentro do botão */
  justify-content: center;
  flex-direction: row;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-btn:hover {
  border: 2px solid var(--main-focus);
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

/* Section 4 */

section.section4 {
  height: 100vh;
  display: flex;
  justify-content: start; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.section4 .itens-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "neuemachina";
}

.section4 .txt-itens {
  flex: 1;
  text-align: left;
  margin-left: 79px;
}

.section4 .txt-itens span {
  display: flex;
}

.section4 .itens-container .txt-itens h2 {
  font-size: 4em;
}

.itens-container .txt-itens p {
  font-size: 2em;
  font-family: "neuemachinalight";
  max-width: 900px;
}

.mobile-text-contato {
  display: none;
}

.vertical-hr {
  border-left: 2px solid #212121; /* Cria uma borda esquerda que se parece com uma linha vertical */
  height: 400px; /* Altura da linha */
  margin: 0 130px; /* Espaçamento em torno da linha */
  display: flex;
}

/* Botão */
.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

/* Botão section Home*/
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #f6f6f6;
  --button_outline_color: #212121;
  font-size: 13px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  font-family: "neuemachina";
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  font-size: 18px;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* Botão section Sobre */
.b2 {
  margin-left: 80px;
  margin-top: 20px;
}

.b2 a {
  text-decoration: none;
}

/* Scroll celular */

.buttonscroll {
  width: 38px;
  height: 82px;
  padding: 2px;
  border: 1px solid #474747;
  border-radius: 50px;
  background: rgba(141, 141, 141, 0.18);
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
  display: none;
}

.svg {
  width: 22px;
  height: 62px;
  transform: rotate(180deg);
}

.buttonscroll:hover {
  transform: scale(-1.2);
}

.buttonscroll:focus {
  height: 0px;
  width: 0px;
  padding: 0px;
  border: 0px;
}

.buttonscroll:focus > .svg {
  display: none;
  height: 0px;
}

/* Scroll */

.btn {
  width: 30px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgba(148, 148, 148, 0.322);
  position: relative;
  transition: opacity 0.5s ease; /* Adicionando transição suave */
  opacity: 1; /* Totalmente visível no início */
  animation: float 3s ease-in-out infinite;
  position: absolute;
  top: 88%; /* Posição vertical, ajusta conforme a necessidade (70% deixa mais para baixo do meio) */
  left: 49.4%; /* Centraliza horizontalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Garante que o centro do botão esteja exatamente no ponto definido */
  font-family: "neuemachina";
}

.btn.hidden {
  opacity: 0; /* Faz o botão desaparecer */
}

.scroll {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(148, 148, 148, 0.322);
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.btn:after {
  content: "scroll";
  position: absolute;
  top: 140%;
  color: rgba(148, 148, 148, 0.322);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@keyframes scroll_4013 {
  0% {
    transform: translateY(40%);
  }

  50% {
    transform: translateY(90%);
  }
}

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

/* Barra de rolagem */

/* Estilizando a barra de rolagem (funciona para Chrome, Edge e Safari) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Fundo claro e neutro */
  border-radius: 10px; /* Borda arredondada para um visual moderno */
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Tom de cinza moderno */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Borda para criar efeito de separação */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888; /* Um tom mais escuro ao passar o mouse */
}

/* Para navegadores compatíveis com scrollbar CSS */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #f1f1f1; /* Cor do thumb e do track */
}

.card:last-child {
  justify-content: flex-end;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Faz com que o header ocupe o espaço necessário */
}

.card-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
  margin-bottom: 5%;
  align-items: center;
}

.card-subtitle {
  font-size: px;
  font-weight: 400;
  color: var(--font-color-sub);
  text-align: center;
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
  font-family: "neuemachina", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.card-price .old-price {
  text-decoration: line-through;
  color: #212121b6;
  margin-right: 10px;
}

.card-price .new-price {
  color: var(--main-focus);
  font-size: 25px;
  color: #212121;
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: #212121;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Ajuste a altura da flutuação */
  }
  100% {
    transform: translateY(0);
  }
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid var(--main-focus);
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

.card-btn1 {
  height: 36px;
  width: 58px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn1 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-btn1:hover {
  border: 2px solid var(--main-focus);
}

.card-btn1:hover svg {
  fill: var(--main-focus);
}

.card-btn1:active {
  transform: translateY(3px);
}

.card-btn2 {
  height: 36px;
  width: 58px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn2 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-btn2:hover {
  border: 2px solid var(--main-focus);
}

.card-btn2:hover svg {
  fill: var(--main-focus);
}

.card-btn2:active {
  transform: translateY(3px);
}

.card-btn3 {
  height: 36px;
  width: 58px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn3 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-btn3:hover {
  border: 2px solid var(--main-focus);
}

.card-btn3:hover svg {
  fill: var(--main-focus);
}

.card-btn3:active {
  transform: translateY(3px);
}

/* Formulário de contato */
.form {
  --input-focus: #ffffff;
  --font-color: #212121;
  --font-color-sub: #212121;
  --bg-color: transparent;
  --main-color: #212121;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px var(--main-color);
  width: 100%;
  box-shadow: none;
}

.input {
  width: 100%;
  height: 58px;
  width: 360px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 18px;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  font-family: "neuemachina";
}

textarea.input {
  height: auto;
  resize: vertical;
}

.button-confirm {
  margin: 50px auto 0 auto;
  width: 144px;
  height: 57px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-top: 5px;
  transition: box-shadow 0.3s, transform 0.3s; /* Transição suave para sombra e transformação */
}

.button-confirm:hover {
  box-shadow: 6px 6px var(--main-color); /* Aumenta a sombra ao passar o mouse */
}

.button-confirm:active {
  box-shadow: 0px 0px var(--main-color); /* Remove a sombra ao clicar */
  transform: translate(
    3px,
    3px
  ); /* Move o botão levemente para baixo e para a direita */
}

.social-contact {
  text-align: center; /* Centralizar o texto */
  margin-top: 40px; /* Espaço acima do texto */
  font-family: "neuemachina";
}

.social-icons {
  display: flex; /* Usar flexbox para organizar os ícones */
  justify-content: center; /* Centralizar os ícones horizontalmente */
  gap: 20px; /* Espaço entre os ícones */
  margin-top: 3%;
}

.redes {
  font-size: 17px;
}

.icon {
  width: 50px; /* Mantém o tamanho do círculo */
  height: 50px; /* Mantém o tamanho do círculo */
  background-color: transparent; /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave para sombra e movimento */
  --main-color: #212121;
  box-shadow: 4px 4px var(--main-color); /* Sombra inicial */
  border: 2px solid #212121; /* Borda de 2px */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo da imagem dentro do ícone */
.icon img {
  max-width: 60%; /* Reduz o tamanho da imagem do ícone */
  max-height: 60%; /* Mantém a proporção do ícone */
}

/* Efeito de hover */
.icon:hover {
  box-shadow: 6px 6px var(--main-color); /* Aumenta a sombra suavemente ao passar o mouse */
}

/* Efeito de pressionar */
.icon:active {
  box-shadow: 0px 0px var(--main-color); /* Remove a sombra ao clicar */
  transform: translate(
    3px,
    3px
  ); /* Move o ícone levemente para baixo e para a direita */
}

@media screen and (max-width: 1765px) {

  .section3 .card-itens {
    gap: 15px;
  }

  .maintext {
    font-size: 4rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .section2 p {
    font-size: 1.8rem;
    width: 100%;
    gap: 30px;
    font-family: "neuemachinalight";
    max-width: 1100px;
  }

  .section2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .section2 .interface {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-right: 79px;
  }

  .txt-sobre {
    text-align: start;
    font-family: "neuemachina";
    font-size: 6px;
  }

  .section3 .txt-itens-precos {
    text-align: center;
    margin-right: 0px;
  }

  .vertical-hr2 {
    display: none;
  }

  .section3 .itens-container-precos {
    flex-direction: column;
  }

  .section3 .txt-itens-precos p {
    max-width: 600px;
  }

  .section3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .section3 .itens-container-precos {
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 245px;
  }

  .vertical-hr {
    display: none;
  }

  .section4 .txt-itens {
    text-align: center;
  }

  section.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section4 .itens-container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .section4 .txt-itens {
    text-align: start;
    margin-right: 79px;
  }
}

@media screen and (max-width: 1295px) {

  .menuhr {
    background-color: #aaaaaa2a;
  }


  .txt-dark {
    font-weight: 50;
    font-family: 'neuemachinalight';
    margin-top: 3px;
  }

  .dark-mode-container {
    flex-direction: row;
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: start;
    gap: 13px;
  }

  .dark-mode-container {
    display: none;
  }

  .menu-mobile .dark-mode-container {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 40px;
  }

  header .nav {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }

  /* Responsivo nav */
  header .nav, header .dark-mode-containe{
    display: none;
  }

  .btn-menu-mob {
    display: block;  
  }
  

  /* Responsivo Home */
  .first-name {
    font-size: 7em;
  }

  .last-name {
    font-size: 7em;
    text-indent: -20px;
  }

  .desktop-text {
    max-width: 700px;
    font-size: 25px;
    margin-top: 20px;
  }

  /* Responsivo Sobre*/
  .maintext {
    font-size: 9em;
    max-width: 700px;
    margin-bottom: 10px;
  }
  
  .section2 p {
    max-width: 710px;
    font-size: 4em;
    width: 100%;
    gap: 25px;
    font-family: "neuemachinalight";
  }

  .section2 {
    justify-content: center;
  }
  
  .section2 .interface {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  
  .txt-sobre {
    text-align: start;
    font-family: "neuemachina";
    margin-left: 79px;
    flex-wrap: wrap;
  }

  /* Responsivo Preços */
  
  .section3 .txt-itens-precos p {
    max-width: 600px;
    font-size: 1.8rem;
    transition: 0.3s;
  }

  section.section3 {
    height: 215vh;
    display: flex;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: column; /* Alinha card e info em coluna */
    align-items: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaçamento entre o card e a info */
    width: 300px; /* Define a largura padrão para o card e a info */
  }

  .section3 .card-itens {
    display: flex;
    gap: 240px;
    margin-right: 50px;
    flex-direction: column;
    margin-left: 50px;
  }

  /* Responsivo Contato */

  .section4 .itens-container .txt-itens h2 {
    font-size: 3em;
    max-width: 612px;
  }

  .itens-container .txt-itens p {
    font-size: 1.5em;
    max-width: 665px;
  }
}

@media screen and (max-width: 878px) {

  header .menu-mobile {
    display: block;
  }

  .btn-menu-mob {
    display: block;  
  }
  
  .btn {
    display: none;
  }

  .svg {
    width: 22px;
    height: 62px;
    transform: rotate(180deg);
  }

  body.dark-mode .buttonscroll {
    width: 30px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background: #c2c3c579;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-top: 500px;
    pointer-events: none;
  }

  .buttonscroll {
    width: 30px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background: #c2c3c5;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-top: 500px;
    pointer-events: none;
  }

  .floating-container {
    animation: float 3s ease-in-out infinite;
  }

  .section-home {
    height: 60vh;
    padding: 0;
    min-height: unset;
    flex-direction: column;
  }

  /* Responsive Home */
  .first-name {
    font-size: 5em;
  }

  .last-name {
    font-size: 5em;
    text-indent: -20px;
  }

  .desktop-text {
    max-width: 500px;
    font-size: 20px;
    margin-top: 20px;
  }

  .header {
    padding: 30px 40px;
    transition: 0.3s;
  }

  /* Responsivo Sobre */

  .desktop-textsobre {
    display: none;
  }

  .mobile-textsobre {
    display: block;
  }

  .section2 {
    height: 52vh;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 3s;
    margin: 0;
    padding: 0;
    min-height: unset;
  }
  
  .section2 .interface {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin: 0;
  }

  .maintext {
    font-size: 6em;
    max-width: 350px;
    margin-bottom: 10px;
    margin: 0;
  }
  
  .section2 p {
    max-width: 390px;
    font-size: 3em;
    width: 100%;
    font-family: "neuemachinalight";
    margin-top: 10px;
  }

  .section2 {
    justify-content: center;
  }
  
  .section2 .interface {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  
  .txt-sobre {
    text-align: start;
    font-family: "neuemachina";
    margin: 0;
    flex-wrap: wrap;
  }

  .b2 {
    margin: 0;
    margin-top: 15px;
  }

  /* responsivo Preços */

  .section3 .txt-itens-precos h2 {
    font-size: 3em;
  }

  .section3 .txt-itens-precos p {
    max-width: 380px;
    font-size: 1.4rem;
  }

  .interface-precos {
    max-height: 1986px;
  }

  /* Responsivo Contato */

  .section4 .itens-container .txt-itens h2 {
    font-size: 2em;
    max-width: 612px;
    transition: 0.3s;
    text-align: center;
  }

  .itens-container .txt-itens p {
    font-size: 1.3em;
    max-width: 450px;
    transition: 0.3s;
    margin-top: 10px
  }

  section.section4 {
    height: 96vh;
    padding: 0;
    min-height: unset;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {

  .dark-mode-container {
    display: none;
  }

  .menu-mobile .dark-mode-container {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  /* Responsivo Home */

  header .menu-mobile {
    display: block;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: block;
    max-width: 300px;
    font-size: 25px;
    margin-top: 20px;
    color: #212121;
  }

  /* Responsivo Contato*/ 

  .paragraphcontato {
    display: none;
  }

  .mobile-text-contato {
    display: block;
    text-align: center;
    width: 500px;
  } 
}