* {
    margin: 0;
    padding: 0;
}

a {
    color: #d1d1d1;
    text-decoration: none;
    transition: 0.3s;
}

.logo {
    font-size: 22px;
    color: #363636;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    margin-left: 70px;
    margin-top: 39px;
}